:root {
    --badge-primary: #009988;
    --border-radius: 3px;
    --primary-color: #098db3;
    --primary-low-opacity: rgba(9, 141, 179, .2);
    --primary-hover: #22b8e3;
    --secondary-color: #6c757d;
    --secondary-hover: #9da8b3;
    --white-color: #f3f3f3;
    --danger-dark: #dc3545;
}

.card, .modal-content, .form-control, .form-select, .btn, .sidebar-link {
    border-radius: var(--border-radius) !important;
}
.form-control:focus, .form-select:focus {
    border: 1px solid var(--primary-color) !important;
}
.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}
.btn-primary:hover {
    background-color: var(--primary-hover) !important;
    border-color: var(--primary-hover) !important;
}
.btn-secondary, .badge.text-bg-secondary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}
.btn-secondary:hover, .badge.text-bg-secondary:hover {
    background-color: var(--secondary-hover) !important;
    border-color: var(--secondary-hover) !important;
}
.btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}
.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}
.modal-title {
    color: var(--primary-color) !important;
}
.form-label {
    font-size: 14px !important;
    font-weight: normal !important;
}
.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.sidebar-nav ul .sidebar-item.selected > .sidebar-link.active,
.sidebar-nav ul .sidebar-item > .sidebar-link.active {
    background-color: var(--primary-low-opacity) !important;
    color: var(--primary-color) !important;
}
.sidebar-link:hover, .sidebar-link.active {
    background-color: var(--primary-low-opacity) !important;
    color: var(--primary-color) !important;
}

.badge-circle {
    padding: 5px;
    overflow: hidden;
    background-color: var(--badge-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.badge-circle i {
    color: #fff;
    font-size: 18px;
}

.swal2-popup {
  background-color: #ffffff;
  color: #333333;
    border-radius: 3px !important;
    padding: 3px;
}
.swal2-confirm {
  background-color: var(--primary-color) !important;
  color: #ffffff;
}
.swal2-confirm:hover {
  background-color: #0056b3;
}
.swal2-title {
    font-size: 16px !important;
}
.swal2-html-container {
    font-size: 14px !important;
}
.swal2-icon {
    font-size: 12px !important;
}

.form {
    width: 100%;
    max-width: 350px;
}

.breadcrumb-item a {
    color: var(--primary-color) !important;
}
.select2-selection__rendered, .select2-selection__choice {
    font-weight: 300 !important;
    line-height: 2 !important;
    font-size: 13px !important;
}
.select2-selection__choice {
    padding: 1px 3px !important;
}
.select2-results__option--highlighted {
    background-color: var(--primary-color) !important;
}
.select2-results__option:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.dataTables_paginate .paginate_button:hover {
  color: var(--primary-color) !important;
}

.modal .modal-dialog.modal-confirmation {
    width: 100% !important;
    max-width: 350px !important;
}

.btn-group button {
    border-radius: 0px !important;
}
.btn-group button:first-child {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.btn-group button:last-child {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.badge.badge-sm {
    font-size: 10px;
}
.text-bg-danger-dark {
    background-color: var(--danger-dark);
}
.text-danger-dark {
    color: var(--danger-dark);
}
.dropdown-item.disabled {
    opacity: .5;
}
